:root {
    --primary-color: #095d55;
    --accent-color: yellow;
    --text-color: white;
}
* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    width: 100%;
    padding-bottom: 25px;
    background-color: var(--primary-color);
}
header h1 {
    display: inline-block;
    font-weight: lighter;
    margin-top: 25px;
}
header span {
    background-color: #fffd84;
    padding: 10px 5px 10px 70px;
    display: flex;
    flex-wrap: wrap;

}
header a {
    color: var(--accent-color);
    text-decoration: none;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
}
header nav ul li {
    list-style: none;
    text-decoration: none;
    float: left;
    margin-left: 200px;
    padding: 25px 5px 0px 5px;
    border-bottom: 2px solid var(--accent-color);
    font-size: 18px;
    font-weight: lighter;
}

/* put body styling here */

footer {
    width: 100%;
    bottom: 0%;
    padding: 40px 35px;
    background: var(--primary-color);
}
footer h4 {
    font-weight: lighter;
    color: var(--accent-color);
    text-align: center; 
}

.hero {
    background-image: url("../images/subtitle.jpeg");
    background-position: 100%;
    background-position: center;
    padding-bottom: 200px;
}
.body-initial {
    display: flex;
    justify-content: space-between;
}
.about-me {
    display: inline-block;
    font-size: 24px;
    border-right: 5px solid black;
    padding: 0px 10px 100px 150px;
}
.about-me-text {
    display: inline-block;
    display: flex;
    text-align: right;  
}
.work {
    display: inline-block;
    font-size: 24px;
    border-right: 5px solid black;
    padding: 0px 10px 400px 164px;
    margin-top: 25px;
}
.contact-me {
    display: inline-block;
    font-size: 24px;
    border-right: 5px solid black;
    padding: 0px 10px 100px 60px;
    margin-top: 25px;
}



